.env 
.venv 
env/ 
venv/ 
ENV/ 
leftImg8bit/
gtFine/
local_readme/
env.bak/ 
venv.bak/
__pycache__
data/
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
staticfiles
MLflowStore/
!models/*.dvc
local_readme/